#CS632P Alternative Assignment1

Write a brief description of all the following Object Types. You can edit the cell below by double clicking on it.

Double Click HERE to edit this markdown cell and write answers.

Numbers: represent numeric value ex int, float and complex 

Strings: charatcter formating in "" or ''/ refered as text

Lists: collection which is ordered and changeable. Allows duplicate members. starts with []

Tuples: collection which is ordered and unchangeable. Allows duplicate members.
starts with ()

Dictionaries: collection which is unordered, changeable and indexed. No duplicate members. starts with {}

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

In [ ]:
x = 1.25 + (5**2*8/2) - 1
print(x)

100.25

Answer these 3 questions 

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [ ]:
44

44

In [ ]:
29

29

In [ ]:
34

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br> **Float**<br>

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root:
import math  
    
# print the square root of 4 
print(math.sqrt(4))

2.0

In [ ]:
# Square:
print(2*3)

6

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [ ]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [ ]:
s ='hello'
# Reverse the string using slicing
length = len(s)
print(s[length::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [ ]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[-1])

o

In [ ]:
# Method 2:
print(s[4])

o

## Lists

Build this list [0,0,0] two separate ways.

In [2]:
# Method 1:
list = [0,0,0]
print(list)

[0, 0, 0]

In [3]:
# Method 2:
l = [0]*3
print(l)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [1]:
list3 = [1,2,[3,4,'hello']]
l = [1,2,[3,4,'hello']]
l1 = l[2]
l1[l1.index('hello')] = 'goodbye'
print(l)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [4]:
list4 = [5,3,4,6,1]
print(sorted(list4))

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [ ]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d["simple_key"])

hello

In [ ]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [ ]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
print(d['k1'][0]['nest_key'][1][0])

#Grab hello

hello

In [5]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print (d['k1'][2]['k2'][1]['tough'][2][0])

hello

Can you sort a dictionary? Why or why not?<br><br>

# it is not possible to sort a dictionary, as dictionary are inhertly orderless

## Tuples

What is the major difference between tuples and lists?<br><br>

# list: mutable,  slower iterations, initiates with [], more operations than tuples

# tuples: immutable, faster iterations, initiates with (), less operations than lists

How do you create a tuple?<br><br>

In [ ]:
t = ("hello")
print(t)

hello

## Sets

Use a set to find the unique values of the list below:

*What* is unique about a set?<br><br>

# a set contains only unique items and is immutable

In [9]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
s = set(list5)
print(s)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [ ]:

2 > 3

False

false

In [ ]:

3 <= 2

False

false

In [ ]:

3 == 2.0

False

false

In [ ]:

3.0 == 3

True

true

In [ ]:

4**0.5 != 2

False

false

Final Question: What is the boolean output of the cell block below?

In [ ]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

false

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [ ]:
st = 'Print only the words that start with s in this sentence'
st =st.split(' ')
print(st)

for words in st:
    if words[0][0] == 's':
      print(words)

['Print', 'only', 'the', 'words', 'that', 'start', 'with', 's', 'in', 'this', 'sentence']
start
s
sentence


**Use range() to print all the even numbers from 0 to 10.**

In [13]:
x = range(11)

for n in x:
  if n%2==0:
    print(n)

0
2
4
6
8
10

**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [14]:
#Code in this cell
l = []
x = range(1, 51)

for n in x:
  if n%3==0:
    l.append(n)
print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

**Go through the string below and if the length of a word is even print "even!"**

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

In [25]:
st = 'Print every word in this sentence that has an even number of letters'
st = st.split()
print(len(st))
for n in range (0, len(st)):
  if len(st[n])%2==0:
    print(st[n])

13
word
in
this
sentence
that
an
even
number
of